[submodule "vim/vim-init"]
	path = vim/vim-init
    url = https://github.com/chenxygh/vim-init.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
    url = https://github.com/chenxygh/.tmux.git
[submodule "Cdotfiles.private"]
	path = Cdotfiles.private
	url = git@github.com:chenxygh/Cdotfiles.private.git
